.component-chart {
  margin: convert-size(10, em) auto;
  margin-bottom: convert-size(20,em);
  width: 100%;
  .card-footer {
    min-height: auto !important;
    //padding: 1% !important;
    position: relative !important;
    margin-left: 1px;
  }
}
.chart-box {
  padding: 0;
  width: 100% !important;
}

