.component-report {
  margin-bottom: convert-size(20, em);
  font-size: convert-size(14, em);
  .card {
    min-height: auto !important;
  }
  .card-body {
    padding: convert-size(10, em);
  }
  form {
    .button-box {
      line-height: convert-size(100, em);
    }
    label {
      margin-bottom: 0;
    }
  }
}
