/* stylelint-disable */
$bg                               : #E0E0E0;
$bg-container                     : #F7F7F7;
$bg-container-second              : rgba(174, 173, 173, 0.19);
$gray                             : #E0E0E0;
$bg-sidebar                       : #252729;
$bg-sidebar-trigger               : #f07ab0;
$bg-sidebar-nav                   : #252729;
$bg-sidebar-nav-hover             : #1c2022;
$color-nav                        : #f7f7f7;
$white                            : #FFFFFF;
$color-hover                      : #20a8d8;
$bg-navbar                        : #cbccce;
$bg-navbar-active                 : #dc4b4b;
$bg-card-footer                   : #eaeaea;
$border-table                     :#b2b2b1;
$title-card                       :#009dff;
/* stylelint-enable */
